<header>
  <nav>
    <a href="/">ICON</a>
    <ul>
      <li>
        <a href="/" id="home_page">Home</a>
      </li>
      <li>
        <a href="/inventory" id="inventory_page">Inventory</a>
      </li>
      <li>
        <a href="/categories" id="categories_page">Categories</a>
      </li>
    </ul>
  </nav>
  <form action="/inventory/list" method="GET">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Search products..."
    />
    <button type="submit">Search</button>
  </form>
</header>
