#product_edit_form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-dark-color);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
  margin: 4rem 0;
  background-color: var(--form-color);
  align-items: center;
}

#developer_form {
  display: flex;
  gap: 1rem;
}

#genre_form {
  display: flex;
  gap: 1rem;
}

#add_form_new {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-dark-color);
  border-radius: 1rem;
  padding: 1em 2rem;
  align-content: center;
}

#add_form_new:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}
