#product_search_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#product_search_card {
  border-radius: 1rem;
  background-color: var(--form-color);
  padding: 1rem 2rem;
}

#product_search_card:hover {
  box-shadow: 0 0 5px black;
}

#product_search_card a {
  display: flex;
  gap: 2rem;
}

#product_search_title {
  display: flex;
  justify-content: space-evenly;
}

#product_search_description > * {
  margin: 0.5rem 0;
}

#product_search_image_container {
  height: auto;
  max-width: 8rem;
}

#product_search_image {
  height: auto;
  max-width: 100%;
}

#error_search_card {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#error_search_card > a {
  border: 1px solid var(--border-dark-color);
  border-radius: 1rem;
  padding: 1em;
  max-width: 10rem;
  text-align: center;
}

#error_search_card > a:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 512px) {
  #product_search_card {
    margin: 0 1rem;
  }
  #error_search_card {
   margin: 4rem 1rem;
 } 
}
